node_modules
hh-cache/
hh-artifacts/

#Development files
cache
artifacts
.env
deployments/
.wake/build/
upgrade-log*.txt

# Foundry files
out/
cache_forge/
broadcast/
build.output

# Libraries (managed by forge)
lib/

#Developer documentation
dev/

#Scripts
scripts/