name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch: {}


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: setup foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: 1.5.0

      - name: init submodules
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive

      - name: install dependencies
        run: |
          forge install || true

      - name: check formatting
        run: forge fmt --check

      - name: run tests
        run: forge test --color never
